@keyframes animacao-caixa {
    from {
        /*Estado inicial*/
        left: 0;

    }

    to {
        /*Estado final*/
        border-radius: 300px;
        left: 8100px;

    }
}

body {
    background: rgb(70, 73, 231) url(../_images/bg-1.jpg) repeat-x;
}

#caixa {
    width: 100px;
    height: 100px;
    margin-top: 250px;
    position: relative;
    /*animation-name: animacao-caixa;
    animation-duration: 5s;
    animatio-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    
    
    */
    animation: animacao-caixa 8s 1s 1 linear;
    animation-direction: initial;




}